name: Dev

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    types: [opened, synchronize, labeled, ready_for_review]
  push:
    branches:
      - main
      - 'release/*'
    tags:
      - '*'

jobs:
  dev:
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    uses: ./.github/workflows/make-jvm-workflow.yml
    permissions:
      contents: read
      packages: write
    with:
      make-file: 'infra/make/libs.mk'
      on-tag: 'promote'
    secrets:
      GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      GPG_SIGNING_PASSWORD: ${{ secrets.GPG_SIGNING_PASSWORD }}
      DOCKER_STAGE_USERNAME: ${{ github.actor }}
      DOCKER_STAGE_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.JRELEASER_MAVENCENTRAL_USERNAME }}
      JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.JRELEASER_MAVENCENTRAL_PASSWORD }}
      PKG_GITHUB_USERNAME: ${{ github.actor }}
      PKG_GITHUB_TOKEN:  ${{ secrets.GITHUB_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  sec:
    needs: dev
    uses: ./.github/workflows/sec-workflow.yml
    permissions:
      contents: write
      pull-requests: read
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

