name: Release Package

on: [push]
#on:
#  push:
#    branches: [ main ]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
      - name: Version
        run: |
          VERSION=$(cat VERSION)
          echo "${VERSION}"
      - name: Publish
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_SIGNING_PASSWORD: ${{ secrets.GPG_SIGNING_PASSWORD }}
          PKG_MAVEN_USERNAME: ${{ secrets.PKG_MAVEN_USERNAME }}
          PKG_MAVEN_TOKEN: ${{ secrets.PKG_MAVEN_TOKEN }}
        run: VERSION=0.0.0 make publish-libs