name: Security Analysis Workflow

on:
  pull_request:
    types: [opened, synchronize, labeled]
  push:
    branches:
      - main
      - 'release/*'

jobs:
  sec:
    uses: ./.github/workflows/sec-workflow.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    permissions:
      contents: write
      pull-requests: read
      security-events: write
      packages: read